body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(185, 185, 185); */
    width: 80vw;
    height: 98vh;
    gap: .6rem;
}

h1 {
    color: #2d2525;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
    
}